@charset "UTF-8";

body{
background-color: cadetblue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: medium;}
h1{
color: rgb(212, 26, 212);


}
h2{
color: blue;
}
   